extends layouts/main.pug

block content
    .form-container
        form(action=routes.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar") 
            input(type="text", placeholder="Name")
            input(type="email", placeholder="Email")
            input(type="sumbit", value = "Update Profile")
        a.form-container__link(herf=routes.changePassword) Change Password
        

